/data/calendar.json
/Calendar.class
/TaskHandler.class
/TaskHandler$COMMAND_TYPE.class
/Task.class
/Task$PRIORITY.class
/Period.class
/.metadata
/.metadata/*
*.orig
*.class
templates/html/output.html
