<!-- @@author A0097689 -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link rel='stylesheet' href='../css/fullcalendar.min.css' />
		<link rel='stylesheet' href="../css/custom.css">
		<script src="../js/jQuery_v1.11.2.js"></script>
		<script src="../js/bootstrap.js"></script>
		<script src='../js/moment.min.js'></script>
		<script src='../js/fullcalendar.min.js'></script>
		<script src="../js/calendar.js?"></script>
	</head>
	<body style="margin-top:10px">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="col-xs-12">
					
					<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						
							<p>Opening calendar at path /Users/Jerry/Desktop/as.json</p>
						
							<p>All tasks displayed.</p>
						
					</div>
					
					
					
					
					
					
					<div style="display:none" id="default_date">Nov 10, 2015</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="col-xs-8">
					<div style="display:none" id="jsonData">{    "Tasks": []}</div>
					<div id="calendar"></div>
				</div>
				<div class="col-xs-4" style="height:660px;overflow:scroll">
					
				</div>
			</div>
		</div>
	</body>
</html>