<html>
	<head>
		<link href="../css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body style="margin-top:30px">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="col-md-12">
										<div class="alert alert-success">
							<p>Task %d has been updated!</p>
					</div>
					<div class="alert alert-warning">
							<p>WARNING: You have specified a deadline that is before the current time</p>
					</div>
						<ul class="list-group">
							<li class="list-group-item active"><p>ID        : 13</p></li>
							<li class="list-group-item">Description: today</li>
							<li class="list-group-item">Venue      : Not specified</li>
							<li class="list-group-item">From       : NULL</li>
							<li class="list-group-item">To         : NULL&nbsp;&nbsp;&nbsp;<span class="label label-info">Ended</span></li>
							<li class="list-group-item">Deadline   : Oct 12, 2015 4:51:40 AM</li>
						</ul>
				</div>
			</div>
		</div>
	</body>
</html>