.fc-event-container {
  min-height: 20px;
}

.fc-content .fc-time>span {
  font-size : 14px;
}

.fc-content .fc-title>p {
	margin : 0px;
}

.badge.badge-danger {
	background-color : rgb(239,131,84);
}

.badge.badge-primary {
	background-color : rgb(59,145,173);
}

.fc-event-container a.more,
.fc-event-container a:focus.more,
.fc-event-container a:hover.more {
	background-color : white;
	color : black;
	cursor: default;
	text-decoration:none;
}